*{
  padding:0;
  margine: 0;
  text-decoration:none;
  list-style: none;
  box-sizing: border-box;
}
body{
  font-family: montserrat;
}
nav{
  background: #FFDEAD;
  height: 80px;
  width: 37%;
  font-style:italic;
}
label.logo{
  color: #FF4500;
  font-size: 40px;
  line-height: 100px;
  padding: 0px 30px;
  font-weight: bold;
}
